.card{
    transition:0.5s;
    cursor:pointer;

    &-title{  
        font-size:15px;
        transition:1s;
        cursor:pointer;

        & i{  
            font-size:15px;
            transition:1s;
            cursor:pointer;
            color:#ffa710
        }

        & i:hover{
            transform: scale(1.25) rotate(100deg); 
            color:#18d4ca;
            
        }
    }
    &:hover{
        transform: scale(1.05);
        box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
    &-text{
        height:80px;  
    }
    &::before, &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale3d(0, 0, 1);
        transition: transform .3s ease-out 0s;
        background: rgba(255, 255, 255, 0.1);
        content: '';
        pointer-events: none;
    }
    &::before {
        transform-origin: left top;
    }
    &::after {
        transform-origin: right bottom;
    }
    &:hover::before, &:hover::after, &:focus::before, &:focus::after {
        transform: scale3d(1, 1, 1);
    }
}